<ion-header [translucent]="true">
  <ion-toolbar color="secondary" mode="ios">
    <ion-title>
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <img src="https://cdn.pixabay.com/photo/2015/01/21/14/14/apple-606761_960_720.jpg">

  <form [formGroup]="formulario" (submit)="cadastrar()">
    <ion-card>
      <ion-item lines="none">
        <ion-input tpye="text" placeholder="Nome do produto" formControlName="nome" ></ion-input>        
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item lines="none">
        <ion-input type="text" placeholder="Tipo Produto" formControlName="tipo"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item lines="none">
        <ion-input type="text" placeholder="Quantidade" formControlName="quantidade"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-button type="submit" color="primary" expand="block" [disabled]="formulario.invalid">Enviar</ion-button>
    </ion-card>
  </form>
</ion-content>