<ion-header [translucent]="true">
  <ion-toolbar color="secondary" mode="ios">
    <ion-title>
      Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <img src="https://cdn.pixabay.com/photo/2015/01/21/14/14/apple-606761_960_720.jpg">

    <ion-card *ngFor="let produto of estante">
      <ion-item lines="none">
        {{ produto.nome }}

        <ion-button slot="end" fill="clear" color="danger" (click)="deletar(produto.id)">
          <ion-icon name="trash-outline" ></ion-icon>
        </ion-button>


      </ion-item>
    </ion-card>     
    
</ion-content>
